//DIO Colors
$color-orange-1: #ff5255;
$color-orange-2: #ff6365;
$color-gray-1: #3f3f3f;
$color-gary-2: #5a5a5a;
$color-gary-3: #777776;
$color-gary-4: #979797;

//BootStrap4 Colors
$color-bs-light: #dee2e6;
$color-bs-red: #c82333;
$color-bs-button-border: #ced4da;

//Estimate status Colors
$color-estimate-status-standby: #325aae;
$color-estimate-status-working: #c9353e;
$color-estimate-status-end: #2d772d;

//Chami Colors
$color-chami-base: #383838; // - 기본 전체 글자 색상
$color-chami-footer-background: #D8D8D8;
$color-chami-main-background: #F1F1F1;
$color-chami-title: #000000; // - 맨위 풀이를 뽐내자, 로그인. 2020년 대비 6월 (가형)6번, 여러분의 풀이를 뽐내보세요 글자.
$color-chami-blue: #00adef; // - 모든 파란색 글과 상자 (수정,삭제, 클릭된 글자표현 등)
$color-chami-yellow: #ffc300; // - 모든 노란색 상자 (작성, 내풀이 올리기, 영어 상자 등)
$color-chami-white-box-clicked: #ebebeb; // - 클릭된 상자 색상
$color-chami-lite-gray: #939393; // - 댓글을 입력하세요 글자, 엄지척,댓글,공유 밑에있는 숫자 색상.


//login Colors
$color-login-google-back: #ffffff; // 구글
$color-login-google-text: #4286f5; // 구글 글자
$color-login-naver-back: #21c603; // 네이버
$color-login-naver-text: #ffffff; // 네이버 글자
$color-login-kakao-back: #ffe500; // 카카오톡
$color-login-kakao-text: #402325; // 카카오톡 글자
