$grid-breakpoints-xs: 0;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1120px;



@media screen and (max-width: $grid-breakpoints-sm){
  .mobile-in-grid-p {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .login__col-grid {
    margin-bottom: 30vh !important;
  }
  .login__row-grid {
    padding: 30px 10px !important;
  }
  .problem-detail--fixed-icon {
    > div {
      right: 10px !important;
      bottom: 30px !important;
      height: 70px !important;
      width: 70px !important;

      img {
        margin-top: -3px !important;
        width: 35px !important;
      }

      p {
        margin-top: -3px !important;
        margin-bottom: 5px !important;
        line-height: 1rem !important;
        font-size: .9rem !important;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 800px !important;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 800px !important;
  }
}
