@import "_color";
@import "mixins";
@import "media";
@import "animate";
@import "viewAnimate";

* {
  font-family: 'Noto Sans KR', sans-serif;
  color: #{$color-chami-base};
}

.divider {
  border-bottom: 1px solid $color-bs-light;
}

.dg-custom-container {
  padding: 0 !important;
  > .row {
    @include no-gutters;
  }
}

.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.header {
  border-bottom: 1px solid $color-bs-light;

  .header__gird {
    padding: 12px 10px;

    .header__gird--left {
      @include all-center-left;

      > * {
        cursor: pointer;
      }
    }

    .header__grid--center {
      @include all-center;

      h1 {
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0;
      }
    }

    .header__grid--center--detail {
      @include all-center;
      text-align: center;

      h1 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
      }
    }

    .header__gird--right {
      @include all-center-right;

      > * {
        cursor: pointer;
      }
    }

    .header__gird--right-vertical {
      @include all-center-right;

      > div {
        @include all-center;
        flex-direction: column;
      }

      img {
        width: 20px;
        //padding: 0;
        margin-right: 0;
      }

      a {
        font-size: .8rem;
        line-height: 1rem;
      }

      > * {
        cursor: pointer;
      }
    }

    .header__logo {
      width: 70px;
      margin-right: 5px;
    }

    .header__login-icon {
      width: 15px;
      padding-bottom: 3px;
      margin-right: 5px;
    }

    a {
      font-size: 1.05rem;
      line-height: 1.3rem;
      font-weight: 700;
    }
  }
}

.footer {
  background-color: $color-chami-footer-background;
  padding: 15px 0 !important;
  font-size: .9rem;

  .footer__top {
    @include flexRow;
    @include all-center;
    width: 100%;
    margin-bottom: 20px;

    a {
      padding: 0 5px;
      cursor: pointer;
      font-size: .85rem;
    }

    p {
      margin: 0;
    }

    .footer__top--logo {
      width: 45px;
      margin-right: 5px;
    }
  }

  .footer__bottom {
    text-align: center;
  }
}

.main {
  background-color: $color-chami-main-background;

  .main__filter {
    padding: 10px 0;

    button {
      background-color: white;
      color: $color-chami-base;
      border: none;
      border-radius: 2px;
      width: 100%;
      font-size: .9rem;
      font-weight: 600;

    }

    .main__filter--left, .main__filter--right {
      width: 100%;
    }

    .main__filter--right {
      padding-left: 10px;
    }
  }

  .main__menus {
    @include no-gutters;
    margin-bottom: 10px;
    background-color: white;
    font-weight: 700;

    > div {
      min-height: 60px;

      p {
        margin: 0;
      }
    }

    .col {
      @include all-center;
      border-left: 1px solid $color-bs-light;
      cursor: pointer;

      &:hover {
        background-color: $color-chami-white-box-clicked;

        p {
          color: $color-chami-blue;
        }
      }
    }

    .col-4 {
      @include all-center;
      flex-direction: column;

      .main__menus--badge {
        background-color: $color-chami-blue;
        padding: 3px 8px;
        color: white;
      }

      .badge--english {
        background-color: $color-chami-yellow;
      }

      .badge--math {
        background-color: $color-chami-blue;
      }

      .badge--others {
        background-color: $color-chami-lite-gray;
      }
    }
  }
}

.advert__carousel {
  .carousel-item {
    max-height: 450px !important;
  }
}

.select-problem {
  background-color: $color-chami-main-background;
  padding: 7px;
  min-height: 400px;

  > .container {
    background-color: white;
    padding: 10px !important;
    border-radius: 2px;
  }

  .select-problem--title {
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid $color-bs-light;
    margin-bottom: 15px;

    h1 {
      font-size: 1.05rem;
      font-weight: bold;
    }
  }

  .select-problem--items {
    .col-12 {
      @include all-center;
      height: 50px;
      border: 1px solid $color-bs-light;
      margin-bottom: 10px;
      cursor: pointer;

      p {
        font-weight: 700;
        margin: 0;
      }
      &:hover {
        background-color: $color-chami-white-box-clicked;

        p {
          color: $color-chami-blue !important;
        }
      }
    }
  }
}

.my-page {
  min-height: 600px;
  background-color: $color-chami-main-background;


  .my-page__tabs {
    background-color: white;
    border: 1px solid $color-bs-light;

    .col {
      @include all-center;
      height: 45px;
      cursor: pointer;

      p {
        font-weight: 600;
        margin: 0;
      }
    }

    .active {
      background-color: $color-chami-white-box-clicked;
      p {
        color: $color-chami-blue !important;
      }
    }
  }

  .my-page__filter-area {
    padding: 10px 0;

    .my-page__filter-area--left {
      padding-right: 5px;
    }

    .my-page__filter-area--right {
      padding-left: 5px;
    }

    .my-page__filter {
      @include all-center;

      button {
        background-color: white;
        color: $color-chami-base;
        border: none;
        border-radius: 2px;
        width: 100%;
        font-size: .9rem;
        font-weight: 600;
      }
    }

    .show > .btn-primary.dropdown-toggle {
      color: #fff !important;
      background-color: #0062cc !important;
      border-color: #005cbf !important;
    }
  }

  .my-page__items {
    padding-bottom: 10px;
    > div {background-color: white;}

    .my-page__items--each {
      margin-bottom: 10px;
    }

    .my-page__items--title {
      @include all-center-left;
      flex-direction: column;
      padding: 20px 10px 10px 10px;

      > div {
        width: 100%;
      }

      h3 {
        font-size: .9rem;
        font-weight: 600;
        margin: 0;
      }

      h6 {
        font-size: .7rem;
        margin: 0;
      }
    }

    .my-page__items--ranking {
      font-size: 1.1rem;
      @include all-center;

      img {
        width: 25px;
      }
    }

    .my-page__items--buttons {
      @include flexRow;
      box-sizing: border-box;

      > div {
        @include all-center;
        width: 50%;
        height: 100%;
      }

      button {
        @include all-center;
        width: 97%;
        height: 100%;
        padding: 0;
        border: none;
        background-color: white;
        font-weight: 600;
        color: $color-chami-blue;
        font-size: .9rem;

        //$:hover
      }
    }

    .my-page__items--bottom-buttons {
      height: 45px;
      font-size: .8rem;

      .col-4 {
        @include all-center;
        height: 100%;
      }

      .my-page__items--icon-1 {
        width: 20px;
        margin-right: 4px;
      }
      .my-page__items--icon-2 {
        width: 23px;
        margin-right: 4px;
      }
      .my-page__items--icon-3 {
        width: 20px;
        margin-right: 4px;
      }
    }
  }

  .my-page__my-info {
    padding: 10px 0;
    > div {
      padding: 20px 10px !important;
      background-color: white;
    }

    .my-page__my-info--selects {
      margin-bottom: 30px;

      .col {
        @include all-center;
        @include boxShadowBorderBasic;
        height: 45px;
        cursor: pointer;

        p {
          font-weight: 700;
          margin: 0;
        }
      }

      .active {
        background-color: $color-chami-blue;

        p {
          color: white;
        }

      }
    }

    .my-page__my-info--form {

      > div {
        margin-bottom: 10px;
      }

      .my-page__my-info--form--left {
        @include all-center-right;
      }

      .my-page__my-info--form--right {
        @include flexRow;
        word-break: break-all;
        word-wrap: break-word;
        button {
          padding: 0;
          background-color: $color-chami-blue;
          width: 85px;
          height: 95%;
          margin-left: 5px;
          border: none;
          color: white;
          font-weight: 700;
          border-radius: 2px;
          font-size: .9rem;
        }

        .input-group {
          max-width: 580px;
          input {
            max-width: 580px;
          }
        }
      }

      .col-12 {
        margin-top: 50px;
        button {
          @include all-center;
          padding: 0;
          background-color: $color-chami-blue;
          width: 100%;
          height: 50px;
          margin-left: 5px;
          border: none;
          color: white;
          font-weight: 700;
          border-radius: 2px;
          font-size: 1rem;
        }
      }

      p {
        margin: 0;
      }
    }
  }

  .my-page__secession {
    .col {
      text-align: right;
      margin-bottom: 40px;

      button {
        width: 80px;
        color: white;
        border: none;
        height: 30px;
        background-color: $color-chami-yellow;
        font-size: .8rem;
        font-weight: bold;
      }
    }
  }
}

.problem-detail {
  background-color: $color-chami-main-background;

  .problem-detail--fixed-icon {
    > div {
      @include all-center;
      flex-direction: column;
      position: fixed;
      background-color: $color-chami-yellow;
      right: 40px;
      bottom: 40px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      cursor: pointer;

      img {
        margin-top: -3px;
        width: 50px;
      }

      p {
        margin-top: -3px;
        margin-bottom: 5px;
        line-height: 1rem;
        color: white;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  .problem-detail__post {
    .problem-detail__post--filter {
      padding: 10px 0;

      > div {
        background-color: white;
      }

      button {
        background-color: white;
        color: $color-chami-base;
        border: none;
        border-radius: 2px;
        width: 100%;
        font-size: .9rem;
        font-weight: 600;
      }

      .problem-detail__post--filter-drop-down {
        width: 100%;
      }

      .show > .btn-primary.dropdown-toggle {
        color: #fff !important;
        background-color: #0062cc !important;
        border-color: #005cbf !important;
      }
    }

    .problem-detail__post--grid {
      padding-bottom: 15px;

      .problem-detail__post--profile-img {
        @include all-center-right;
        padding-right: 10px;

        > img {
          width: 35px;
        }
      }

      .problem-detail__post--tier-img {
        @include all-center-right;
        padding-left: 10px;

        > img {
          width: 25px;
        }
      }

      .problem-detail__post--title {
        .title {
          padding-top: 2px;
          font-size: .95rem;
          font-weight: 600;
          line-height: 1.2rem;
        }

        .date {
          font-weight: 400;
          font-size: .8rem;
          line-height: .9rem;
        }
      }

      .problem-detail__post--top, .problem-detail__post--contents {
        background-color: white;
        padding: 10px 0;
      }

      .problem-detail__post--contents {
        padding-right: 10px;
        padding-left: 10px;
      }

      .problem-detail__post--contents--text {
        margin-bottom: 20px;

        > div {
          max-width: 100%;
          margin-bottom: 0;
          word-wrap: break-word;
        }
      }

      .problem-detail__post--contents--img {
        text-align: center;

        > img {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .problem-detail__post--contents--more {
        @include all-center;
        transition: .5s all;

        button {
          width: 100%;
          background-color: white;
          color: $color-chami-blue;
          font-weight: bold;
          height: 42px;
          border: 1px solid $color-bs-light;
          border-radius: 3px;
        }
      }

      .problem-detail__post--comments {
        background-color: white;
        padding-top: 10px;

        .problem-detail__post--comments--icons {
          .col {
            @include all-center;
            flex-direction: column;
            padding: 3px 0;
            cursor: pointer;

            img {
              height: 30px;
              padding-bottom: 5px;
            }

            p {
              margin: 0;
              line-height: 1rem;
              font-size: .9rem;
            }

            .sub {
              font-size: .8rem;
              color: $color-chami-lite-gray;
            }
          }
        }

        .problem-detail__post--comments--forms {
          padding: 10px;

          textarea {
            border-radius: 0;
            font-size: .82rem;
            background-color: rgb(246, 246, 246);
            outline: 0 !important;
            -webkit-appearance:none;
            box-shadow: none !important;
          }

          button {
            padding: 0 10px;
            height: 100%;
            background-color: $color-chami-yellow;
            border: none;
            border-right: 1px solid $color-bs-light;
            border-top: 1px solid $color-bs-light;
            border-bottom: 1px solid $color-bs-light;
            color: white;
            font-weight: bold;
            outline:0px !important;
            -webkit-appearance:none;
            box-shadow: none !important;
          }
        }

        .problem-detail__post--comments--all {
          padding: 10px;

          .title {
            padding-top: 2px;
            font-size: .95rem;
            font-weight: 600;
            line-height: 1.2rem;
          }

          .date {
            font-weight: 400;
            font-size: .8rem;
            line-height: .9rem;
          }

          .comment {
            padding: 10px;
            background-color: rgb(246, 246, 246);
            font-size: .85rem;
            font-weight: 600;
          }

          button {
            border: none;
            font-size: .85rem;
            padding: 0 2px;
            margin-left: 10px;
            color: $color-chami-blue;
            font-weight: 500;
            background-color: white;
            height: 14px;
          }
        }

        .problem-detail__post--comments--more {
          @include all-center;
          height: 45px;
          border-top: 1px solid $color-bs-light;
          cursor: pointer;

          p {
            color: $color-chami-blue;
            font-size: .9rem;
            margin: 0;
          }
        }
      }
    }
  }

  .problem-detail__post--your-post {
    background-color: white;
    padding: 10px;
    font-size: .95rem;
    font-weight: 500;

    > div {
      @include all-center;
    }

    .book-img {
      width: 35px;
      margin-right: 10px;
    }

    .mini-logo {
      width: 45px;
      margin: 0 5px;
    }

    button {
      background-color: $color-chami-yellow;
      border: none;
      padding: 8px 8px;
      color: white;
      font-weight: bold;
      font-size: 1.1rem;
      width: 100%;
    }

    span {
      font-weight: bold;
      font-size: 1rem;
      padding: 0 3px;
    }
  }
}

.login {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .login__container-grid {
    .login__row-grid {
      @include all-center;
      padding: 120px 10px;
    }

    .login__col-grid {
      max-width: 400px;
      padding: 50px 15px 40px 15px;
      text-align: center;
      background-color: rgba(0, 0, 0, .4);
      margin-bottom: 100px;
      border-radius: 2px;

      > button {
        @include all-center;
        width: 100%;
        padding: 0;
        font-size: 1rem;
        font-weight: 700;
        height: 40px;
        margin-bottom: 5px;
        outline: none;
        border: 1px solid $color-bs-light;

        img {
          height: 18px;
          margin-left: 5px;
          margin-bottom: 2px;
        }
      }

      .google {
        background-color: $color-login-google-back;
        color: $color-login-google-text;

        &:hover {
          background-color: #F5F5F5;
        }
      }

      .naver {
        background-color: $color-login-naver-back;
        color: $color-login-naver-text;

        &:hover {
          background-color: #1FB305;
        }
      }

      .kakao {
        background-color: $color-login-kakao-back;
        color: $color-login-kakao-text;

        &:hover {
          background-color: #DBD400;
        }
      }
    }

    h1 {
      color: white;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

.f-w {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .f-w__row-grid {
    @include all-center;
    padding: 10px;
  }

  .f-w__col-grid {
    max-width: 700px;
    padding: 15px 10px !important;
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: 10px;
    border-radius: 2px;

    h1 {
      color: white;
      font-size: 1.4rem;
      margin-bottom: 15px;
    }
  }

  .f-w__select {
    margin-bottom: 20px;

    .active {
      background-color: $color-chami-blue;
    }

    > .col {
      @include all-center;
      @include boxShadowBorder(2px, white);
      cursor: pointer;
      height: 45px;

      p {
        font-weight: bold;
        color: white;
        margin: 0;
      }
    }
  }

  .f-w__form {
    margin-bottom: 20px;

    > div {
      height: 40px;
    }

    p {
      font-size: 1rem;
      line-height: 1rem;
      color: white;
      font-weight: bold;
      margin-bottom: 0;
    }

    label {
      display: none;
    }

    input {
      width: 100%;
      background-color: rgba(0,0,0,0);
      border: none;
      outline: none;
      border-bottom: 2px solid white;
      caret-color: white;
      color: white;
    }

    .f-w__form--label {
      @include all-center-left;
    }

    .f-w__form--input {
      @include all-center;
    }

    .f-w__form--email {
      @include all-center-left;
    }

    .f-w__form--button {
      @include all-center-right;

      button {
        background-color: $color-chami-blue;
        color: white;
        font-weight: bold;
        padding: 3px 7px;
        border: none;
        outline-width: 1px;
        border-radius: 3px;
      }
    }
  }

  .f-w__terms1, .f-w__terms2 {
    .f-w__terms--text {
      background-color: rgba(255, 255, 255, .8);
      margin-bottom: 5px;
      > div {
        word-break: break-word;
        height: 120px;
        overflow-y: scroll;
        font-size: .9rem;
        line-height: 1rem;
        padding: 7px;
        border-radius: 3px;
      }
    }

    .f-w__terms--check {
      margin-bottom: 10px;
      label {
        color: white;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }

  .f-w__submit {
    .col {
      @include all-center;
      padding: 0 10px;
      margin-top: -10px;
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      max-width: 700px;
      background-color: $color-chami-blue;
      color: white;
      font-weight: bold;
      font-size: 1.1rem;
      height: 45px;
      border-radius: 20px;
      border: none;
      outline: none;

      &:hover {
        opacity: .9;
      }
    }
  }
}

#modal-posting___BV_modal_body_ {
  padding: 0;

  .posting {
    .posting__title {
      .col {
        @include all-center;
        text-align: center;
        height: 50px;
      }

      .posting__top--icon {
        position: absolute;
        height: 100%;
        left: 15px;
        top: 0;
        font-size: 1.6rem;
        cursor: pointer;
      }

      h1 {
        font-size: 1.05rem;
        margin-bottom: 0;
      }
    }

    .posting__des {
      border-bottom: 1px solid $color-bs-light;
      .col {
        padding: 10px 15px;

        span {
          font-size: .9rem;
          margin-right: 10px;
        }
      }
    }

    .posting__option-button {
      border-bottom: 1px solid $color-bs-light;

      .col-4 {
        @include all-center;
        padding: 7px 0;

        > svg {
          width: 35px;
          height: 40px;
          cursor: pointer;

          &:hover {
            g {
              fill: $color-chami-blue;
            }
          }
        }
      }
    }

    .posting__form {
      padding: 10px !important;

      .posting__form--text {
        margin-bottom: 10px;

        textarea {
          border: none;
          outline: none;
          background-color: rgba(250, 250, 250);

          &:focus {
            background-color: white;
          }
        }
      }

      .posting__form--img {
        @include all-center-left;
        @include flexRow;
        flex-wrap: wrap;

        > div {
          position: relative;
          margin-right: 4px;
          margin-bottom: 4px;

          &:hover {
            > img {
              transition: .2s ease;
              opacity: .6;
            }
          }

          > img {
            height: 100px;
            width: 100px;
            object-fit: cover;
            border: 1px solid $color-bs-light;
          }

          .posting__form--img-in-button {
            @include all-center;
            transition: .5s ease;
            opacity: 0;
            cursor: pointer;
            position: absolute;
            height: 100px;
            width: 100px;
            left: 0;
            top: 0;

            &:hover {
              opacity: 1;
            }

            > svg {
              font-size: 1.8rem;
              color: white !important;
            }
          }
        }

        .posting__form--add-img {
          @include all-center;
          height: 100px;
          width: 100px;
          border: 1px solid $color-bs-light;
          cursor: pointer;

          > svg {
            font-size: 1.8rem;
          }
        }
      }

      .posting__form--max-text-show {
        @include all-center-right;
        color: $color-chami-lite-gray;
        font-size: .8rem;
        margin-bottom: 10px;
        span {
          color: $color-chami-lite-gray;
        }
      }
    }

    .posting__file-input {
      .posting__file-input--button {
        padding: 10px 15px;

        .left {
          @include all-center-left;
        }

        .right {
          @include all-center-right;
        }

        button {
          border: none;
          outline: none;
          font-size: .9rem;
        }
        p {
          font-size: .8rem;
          text-align: right;
          margin: 0;
        }
      }

      .posting__file-input--items {
        padding: 15px 10px 0 10px;

        > .col-12 {
          padding: 7px;
          background-color: $color-bs-light;
          margin-bottom: 15px;
        }

        .posting__file-input--title {
          @include all-center-left;

          > div {
            @include textOverDot;
            max-width: 100%;
            font-size: .9rem;
            line-height: .9rem;
          }
        }

        .posting__file-input--remove {
          @include all-center-right;

          svg {
            cursor: pointer;
            font-size: 1.2rem;
            line-height: .8rem;
          }
        }
      }
    }

    .posting__buttons {
      padding: 30px 10px !important;

      button {
        height: 45px;
        border: 1px solid $color-bs-light;
        border-radius: 2px;
        outline: none;
        width: 100%;
        font-weight: bold;
      }

      .submit {
        padding-left: 10px;
        padding-right: 5px;

        > button {
          background-color: $color-chami-blue;
          color: white;

          &:hover {
            opacity: .9;
          }
        }
      }

      .cancel {
        padding-left: 5px;
        padding-right: 10px;

        > button {
          &:hover {
            background-color: rgb(250, 250, 250);
          }
        }
      }
    }
  }
}
