@import "_color";
@import "mixins";
@import "media";
@import "animate";
@import "viewAnimate";

* {
  font-family: 'Noto Sans KR', sans-serif;
  color: #{$color-chami-base};
}

.dg-custom-container {
  padding: 0 !important;
  > .row {
    @include no-gutters;
  }
}

.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.header {
  border-bottom: 1px solid $color-bs-light;

  .header__gird {
    padding: 12px 10px;

    .header__gird--left {
      @include all-center-left;

      > * {
        cursor: pointer;
      }
    }

    .header__grid--center {
      @include all-center;

      h1 {
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0;
      }
    }

    .header__grid--center--detail {
      @include all-center;
      text-align: center;

      h1 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
      }
    }

    .header__gird--right {
      @include all-center-right;

      > * {
        cursor: pointer;
      }
    }

    .header__gird--right-vertical {
      @include all-center-right;

      > div {
        @include all-center;
        flex-direction: column;
      }

      img {
        width: 20px;
        //padding: 0;
        margin-right: 0;
      }

      a {
        font-size: .8rem;
        line-height: 1rem;
      }

      > * {
        cursor: pointer;
      }
    }

    .header__logo {
      width: 50px;
      margin-right: 5px;
    }

    .header__login-icon {
      width: 15px;
      padding-bottom: 3px;
      margin-right: 5px;
    }

    a {
      font-size: 1.05rem;
      line-height: 1.3rem;
      font-weight: 700;
    }
  }
}

.footer {
  background-color: $color-chami-footer-background;
  padding: 15px 0 !important;
  font-size: .9rem;

  .footer__top {
    @include flexRow;
    @include all-center;
    width: 100%;
    margin-bottom: 20px;

    a {
      padding: 0 5px;
      cursor: pointer;
      font-size: .85rem;
    }

    p {
      margin: 0;
    }

    .footer__top--logo {
      width: 45px;
      margin-right: 5px;
    }
  }

  .footer__bottom {
    text-align: center;
  }
}

.main {
  background-color: $color-chami-main-background;

  .main__filter {
    padding: 10px 0;

    button {
      background-color: white;
      color: $color-chami-base;
      border: none;
      border-radius: 2px;
      width: 100%;
      font-size: .9rem;
      font-weight: 600;

    }

    .main__filter--left, .main__filter--right {
      width: 100%;
    }

    .main__filter--right {
      padding-left: 10px;
    }
  }

  .main__menus {
    @include no-gutters;
    margin-bottom: 10px;
    background-color: white;
    font-weight: 700;

    > div {
      min-height: 60px;

      p {
        margin: 0;
      }
    }

    .col {
      @include all-center;
      border-left: 1px solid $color-bs-light;
      cursor: pointer;

      &:hover {
        background-color: $color-chami-white-box-clicked;

        p {
          color: $color-chami-blue;
        }
      }
    }

    .col-4 {
      @include all-center;
      flex-direction: column;

      .main__menus--badge {
        background-color: $color-chami-blue;
        padding: 3px 8px;
        color: white;
      }

      .badge--english {
        background-color: $color-chami-yellow;
      }

      .badge--math {
        background-color: $color-chami-blue;
      }

      .badge--others {
        background-color: $color-chami-lite-gray;
      }
    }
  }
}

.advert__carousel {
  .carousel-item {
    max-height: 450px !important;
  }
}


.select-problem {
  background-color: $color-chami-main-background;
  padding: 7px;
  min-height: 400px;

  > .container {
    background-color: white;
    padding: 10px !important;
    border-radius: 2px;
  }

  .select-problem--title {
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid $color-bs-light;
    margin-bottom: 15px;

    h1 {
      font-size: 1.05rem;
      font-weight: bold;
    }
  }

  .select-problem--items {
    .col-12 {
      @include all-center;
      height: 50px;
      border: 1px solid $color-bs-light;
      margin-bottom: 10px;
      cursor: pointer;

      p {
        font-weight: 700;
        margin: 0;
      }
      &:hover {
        background-color: $color-chami-white-box-clicked;

        p {
          color: $color-chami-blue !important;
        }
      }
    }
  }
}

.my-page {
  min-height: 600px;
  background-color: $color-chami-main-background;

  .my-page__tabs {
    background-color: white;
    border: 1px solid $color-bs-light;

    .col {
      @include all-center;
      height: 45px;
      cursor: pointer;

      p {
        font-weight: 600;
        margin: 0;
      }
    }

    .active {
      background-color: $color-chami-white-box-clicked;
      color: $color-chami-blue;
    }
  }

  .my-page__filter-area {
    padding: 10px 0;

    .my-page__filter-area--left {
      padding-right: 5px;
    }

    .my-page__filter-area--right {
      padding-left: 5px;
    }

    .my-page__filter {
      @include all-center;

      button {
        background-color: white;
        color: $color-chami-base;
        border: none;
        border-radius: 2px;
        width: 100%;
        font-size: .9rem;
        font-weight: 600;
      }
    }

    .show > .btn-primary.dropdown-toggle {
      color: #fff !important;
      background-color: #0062cc !important;
      border-color: #005cbf !important;
    }
  }

  .my-page__items {
    padding-bottom: 10px;
    > div {background-color: white;}

    .my-page__items--each {
      margin-bottom: 10px;
    }

    .my-page__items--title {
      @include all-center-left;
      flex-direction: column;
      padding: 20px 10px 10px 10px;

      > div {
        width: 100%;
      }

      h3 {
        font-size: .9rem;
        font-weight: 600;
        margin: 0;
      }

      h6 {
        font-size: .7rem;
        margin: 0;
      }
    }

    .my-page__items--ranking {
      font-size: 1.1rem;
      @include all-center;

    }

    .my-page__items--buttons {
      @include flexRow;
      box-sizing: border-box;

      > div {
        @include all-center;
        width: 50%;
        height: 100%;
      }

      button {
        @include all-center;
        width: 97%;
        height: 100%;
        padding: 0;
        border: none;
        background-color: white;
        font-weight: 600;
        color: $color-chami-blue;
        font-size: .9rem;

        //$:hover
      }
    }

    .my-page__items--bottom-buttons {
      height: 45px;
      font-size: .8rem;

      .col-4 {
        @include all-center;
        height: 100%;
      }

      .my-page__items--icon-1 {
        width: 20px;
        margin-right: 4px;
      }
      .my-page__items--icon-2 {
        width: 23px;
        margin-right: 4px;
      }
      .my-page__items--icon-3 {
        width: 20px;
        margin-right: 4px;
      }
    }
  }

  .my-page__my-info {
    padding: 10px 0;
    > div {
      padding: 20px 10px !important;
      background-color: white;
    }

    .my-page__my-info--selects {
      margin-bottom: 30px;

      .col {
        @include all-center;
        @include boxShadowBorderBasic;
        height: 45px;
        cursor: pointer;

        p {
          font-weight: 700;
          margin: 0;
        }
      }

      .active {
        background-color: $color-chami-blue;

        p {
          color: white;
        }

      }
    }

    .my-page__my-info--form {

      > div {
        margin-bottom: 10px;
      }

      .my-page__my-info--form--left {
        @include all-center-right;
      }

      .my-page__my-info--form--right {
        @include flexRow;
        word-break: break-all;
        word-wrap: break-word;
        button {
          padding: 0;
          background-color: $color-chami-blue;
          width: 85px;
          height: 95%;
          margin-left: 5px;
          border: none;
          color: white;
          font-weight: 700;
          border-radius: 2px;
          font-size: .9rem;
        }

        .input-group {
          max-width: 580px;
          input {
            max-width: 580px;
          }
        }
      }

      .col-12 {
        margin-top: 50px;
        button {
          @include all-center;
          padding: 0;
          background-color: $color-chami-blue;
          width: 100%;
          height: 50px;
          margin-left: 5px;
          border: none;
          color: white;
          font-weight: 700;
          border-radius: 2px;
          font-size: 1rem;
        }
      }

      p {
        margin: 0;
      }
    }
  }

  .my-page__secession {
    .col {
      text-align: right;
      margin-bottom: 40px;

      button {
        width: 80px;
        color: white;
        border: none;
        height: 30px;
        background-color: $color-chami-yellow;
        font-size: .8rem;
        font-weight: bold;
      }
    }
  }
}


.problem-detail {
  background-color: $color-chami-main-background;

  .problem-detail__post {
    .problem-detail__post--filter {
      padding: 10px 0;

      > div {
        background-color: white;
      }

      button {
        background-color: white;
        color: $color-chami-base;
        border: none;
        border-radius: 2px;
        width: 100%;
        font-size: .9rem;
        font-weight: 600;
      }

      .problem-detail__post--filter-drop-down {
        width: 100%;
      }

      .show > .btn-primary.dropdown-toggle {
        color: #fff !important;
        background-color: #0062cc !important;
        border-color: #005cbf !important;
      }
    }

    .problem-detail__post--grid {
      margin-bottom: 15px;

      .problem-detail__post--profile-img {
        @include all-center-right;
        padding-right: 10px;

        > img {
          width: 35px;
        }
      }

      .problem-detail__post--tier-img {
        @include all-center-right;
        padding-left: 10px;

        > img {
          width: 25px;
        }
      }

      .problem-detail__post--title {
        .title {
          padding-top: 2px;
          font-size: .95rem;
          font-weight: 600;
          line-height: 1.2rem;
        }

        .date {
          font-weight: 400;
          font-size: .8rem;
          line-height: .9rem;
        }
      }

      .problem-detail__post--top, .problem-detail__post--contents {
        background-color: white;
        padding: 10px 0;
      }

      .problem-detail__post--contents {
        padding-right: 10px;
        padding-left: 10px;
      }

      .problem-detail__post--contents--text {
        margin-bottom: 20px;

        > div {
          max-width: 100%;
          margin-bottom: 0;
          word-wrap: break-word;
        }
      }

      .problem-detail__post--contents--img {
        text-align: center;

        > img {
          width: 100%;
          max-width: 700px;
          margin-bottom: 10px;
        }
      }

      .problem-detail__post--contents--more {
        transition: .5s all;

        button {
          width: 100%;
          background-color: $color-chami-blue;
          color: white;
          font-weight: bold;
          height: 42px;
          border: none;
          border-radius: 3px;
        }
      }

      .problem-detail__post--comments {
        background-color: white;
        padding-top: 10px;

        .problem-detail__post--comments--icons {
          .col {
            @include all-center;
            flex-direction: column;
            padding: 3px 0;
            cursor: pointer;

            img {
              height: 30px;
              padding-bottom: 5px;
            }

            p {
              margin: 0;
              line-height: 1rem;
              font-size: .9rem;
            }

            .sub {
              font-size: .8rem;
              color: $color-chami-lite-gray;
            }
          }
        }

        .problem-detail__post--comments--forms {
          padding: 10px;

          textarea {
            border-radius: 0;
            font-size: .82rem;
            background-color: rgb(246, 246, 246);
            outline: 0 !important;
            -webkit-appearance:none;
            box-shadow: none !important;
          }

          button {
            padding: 0 10px;
            height: 100%;
            background-color: $color-chami-yellow;
            border: none;
            border-right: 1px solid $color-bs-light;
            border-top: 1px solid $color-bs-light;
            border-bottom: 1px solid $color-bs-light;
            color: white;
            font-weight: bold;
            outline:0px !important;
            -webkit-appearance:none;
            box-shadow: none !important;
          }
        }

        .problem-detail__post--comments--all {
          padding: 10px;

          .title {
            padding-top: 2px;
            font-size: .95rem;
            font-weight: 600;
            line-height: 1.2rem;
          }

          .date {
            font-weight: 400;
            font-size: .8rem;
            line-height: .9rem;
          }

          .comment {
            padding: 10px;
            background-color: rgb(246, 246, 246);
            font-size: .85rem;
            font-weight: 600;
          }

          button {
            border: none;
            font-size: .85rem;
            padding: 0 2px;
            margin-left: 10px;
            color: $color-chami-blue;
            font-weight: 500;
            background-color: white;
            height: 14px;
          }
        }

        .problem-detail__post--comments--more {
          @include all-center;
          height: 45px;
          border-top: 1px solid $color-bs-light;
          cursor: pointer;

          p {
            color: $color-chami-blue;
            font-size: .9rem;
            margin: 0;
          }
        }
      }
    }
  }

  .problem-detail__post--your-post {
    background-color: white;
    padding: 10px;
    font-size: .95rem;
    font-weight: 500;

    > div {
      @include all-center;
    }

    img {
      width: 35px;
    }

    button {
      background-color: $color-chami-yellow;
      border: none;
      padding: 3px 5px;
      color: white;
      font-weight: bold;
    }

    span {
      font-weight: bold;
      font-size: 1rem;
      padding: 0 3px;
    }
  }
}
